* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    z-index: 100;
}

.logo {
    position: relative;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    text-transform: capitalize;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: #0ef;
}

/*home strt*/
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    /* background: url(./bcg1.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    margin-top: 30px;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s var(--i));
    margin: 30px 15px 30px 0;
}

.sci a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

}
 /* home end */

/* about strt */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;
    height: 100vh;
}
.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2 {
    font-size: 50px;
}
.about-text h2 span {
    color: #0ef;
}
.about-text h4 {
    font-size: 29px;
    font-weight: 600px;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about #btn {
    margin-top: 30px;
}




































@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX (0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}